<p id="notice"><%= notice %></p>

<p>
  <strong>Daily budget:</strong>
  <%= @app_setting.daily_budget %>
</p>

<%= link_to 'Edit', edit_app_setting_path(@app_setting) %> |
<%= link_to 'Back', app_settings_path %>
